$twitter-blue: #55acee;

.mainPage {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: 'Segoe UI', 'Roboto';
    background-color: rgb(255,255,255);
    button {
        width: 70px;
        height: 20px;
        background-color: $twitter-blue;
        color: white;
        border-radius: 20px;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        border: 0;
        margin-top: 5px;
        cursor: pointer;
        &:hover {
          background-color: darken($twitter-blue, 10%);
        }
      }
}

